<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.net>
		<mailSettings>
			<smtp from="[josue35@gmail.com]">
				<network
				  host="[smtp.gmail.com]"
				  port="[587]"
				  userName="[josue35@gmail.com]"
				  password="[anvn ufwc rmhp onqy]"
				  enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>	
</configuration>