<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventPlannerCR_AccesoDatos.Properties.Settings.EventPlannerConnectionString"
            connectionString="Data Source=eventplanner.database.windows.net;Initial Catalog=EventPlanner;User ID=master"
            providerName="System.Data.SqlClient" />
        <add name="EventPlannerCR_AccesoDatos.Properties.Settings.EventPlannerConnectionString1"
            connectionString="Data Source=eventplanner.database.windows.net;Initial Catalog=EventPlanner;Persist Security Info=True;User ID=master;Password=B6vcaiNQTAMhu;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="EventPlannerCR_AccesoDatos.Properties.Settings.EventPlannerConnectionString2"
            connectionString="Data Source=eventplanner.database.windows.net;Initial Catalog=EventPlanner;User ID=master;Password=B6vcaiNQTAMhu;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EventPlannerCR_AccesoDatos.Properties.Settings.EventPlannerConnectionString3"
            connectionString="Data Source=eventplanner.database.windows.net;Initial Catalog=EventPlanner;User ID=master;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>