<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Acceso_de_datos.Properties.Settings.EventPlannerConnectionString"
            connectionString="Data Source=eventplanner.database.windows.net;Initial Catalog=EventPlanner;Persist Security Info=True;User ID=master;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>